
@font-face {
  font-family: cuyabra;
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: cuyabra;
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: cuyabra;
  src: url(../fonts/Lato-Italic.ttf);
  font-style: italic;
}
body {
  font-family: cuyabra;
  background-image: url(../img/DSC_2330.JPG);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:50%
}
.dropbtn {
  border: none;
  cursor: pointer;
  background: none;
}

.dropbtn:hover, .dropbtn:focus {
  -webkit-filter: invert(20%);
  filter: invert(20%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 7px;
}

.dropdown-content a {
  color: #171717;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #171717;
  width: 100%;
  overflow-x: hidden;
  margin-left: -8px;
}
.socials {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  display: inline-block;
  float: left;
  padding-top: 5px;
  padding-left: 5px;

}
.socials img {
  padding-left: 2px;
  padding-right: 2px;
}
.socials img:hover {
  -webkit-filter: invert(25%);
  filter: invert(25%);
  cursor: pointer;
}
.discordToolTip {
  position: relative;
  display: inline-block;
}
.discordToolTip .discordToolTipText {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.discordToolTip .discordToolTipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.discordToolTip:hover .discordToolTipText {
  visibility: visible;
  opacity: 1;
}
.subtitleSpace {
  padding: 8px;
}
.footerText {
  display: inline-block;
  position: relative;
  color: white;
  float: left;
  padding-left: 2%;
}
.footerPadding {
  padding-left: 30px;
}
.githubLink {
  text-decoration: none;
  color: white;
}
.bodyGithubLink {
  text-decoration: underline;
  color: grey;

}
.bodyGithubLink:hover {
  color: #171717;
  text-decoration-color: #171717;
  cursor: pointer;
}
.githubLink:hover {
  text-decoration: underline;
  cursor: pointer;
}
.subFooter {
  color: grey;
  font-style: italic;
}
.bodyContent {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 0;
  animation: 1s ease-out 0s 1 fadeinFromBottom;
}
.scrollTopBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
}
.titleText {
  color: #171717;
  font-size: 50px;
  text-align: center;
}
@keyframes fadeinFromBottom {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1.0;

  }
}
