.projectContainer {
  border: 1px solid #171717;
  border-radius: 6px;
  padding: 5px;
  display: inline-flex;
  flex-direction: column;
  width: 33.333%;
}
.projectTitle {
  display: inline-block;
}
.projectDate {
  display: inline-block;
}
.projectDesc {
  display: inline-block;
}
.projectImg {
  display: inline-block;
  width: 100%;
  height: auto;
}
